* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}


.box {
    /* outline: 1px solid black; */
    width: 100%;
    height: 100%;
}

@media screen and (orientation:portrait) { 
    .ls {
        display: none;
    }

     #left {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }

    #left > img {
        padding-top: 5em;
        width: 60%;
    }

    #right {
        /* outline: 1px solid black; */
        display: flex;
        flex-direction:column;
        align-items: center;
        /* justify-content: space-evenly; */
    }

    #right > img {
        margin-top: 2em;
        width: 60%;
    }
}

@media screen and (orientation:landscape) { 
    .p {
        display: none;
    }

    body {
        background-color: #F9DB23;
        flex-direction: row;
    }

    #left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #left > img {
        width: 60%;
    }

    #right {
        background-image: url("./lsDuck.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}